<div id="staff" class="container">
    <h4 class="text-center"><a href="/staffs">&larr; return</a></h4>
    <div class="page-header text-center jumbotron">
		<h2>{{{data.staff.title}}}</h2>
	</div>
    
 <div class="row">
        <div class="col-md-4 col-md-offset-1">
            {{#if data.staff.image}}
            <img src={{{ cloudinaryUrl data.staff.image width=350 crop="fit" }}}  class="thumbnail" >
            {{/if}}
        </div>
        <div class="col-md-6 col-md-offset-1">
            {{!--<table>
                <tr>
                    <td><p>Науковий ступінь:</p> </td><td>{{{data.staff.degree}}}</td>
                </tr>
                <tr>
                    <td><p>Посада:</p></td><td>{{{data.staff.position}}}</td>
                </tr>
                <tr>
                    <td><p>Дисципліни:</p></td><td>{{{data.staff.subjects}}}</td>
                </tr>
                <tr>
                    <td><p>Наукові інтереси:</p></td><td>{{{data.staff.interests}}}</td>
                </tr>
            </table>--}}

            <p>email: {{{data.staff.email}}}</p>
            <p>Науковий ступінь: {{{data.staff.degree}}}</p>
            <p>Посада: {{{data.staff.position}}}</p>
            <p>Дисципліни: {{{data.staff.subjects}}}</p>
            <p>Наукові інтереси: {{{data.staff.interests}}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
             <h3 class="text-center">Наукові праці</h3>
             <div class="publish">{{{data.staff.scientific}}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3 class="text-center">Навчально-методичні праці</h3>
            <div class="publish">{{{data.staff.methodological}}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
             <h3 class="text-center">Біографія</h3>
             <div class="publish">{{{data.staff.biography}}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3 class="text-center">Стажування</h3>
            <div class="publish">{{{data.staff.internship}}}</div>
        </div>
    </div>
</div>
